<!DOCTYPE html>
<html lang=en>
    <head>
        <title>AirCrack-UI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/indexStyle.css" />
    </head>
    <body class="main">
        <h1>AirCrack-UI</h1>
        <div class="container">
            <a href="/handshake" class="option">
                <img class="icon" src="static/Assets/handshake_icon.svg" alt="" />
                Handshake Attack
            </a>
            <a href="/deauth" class="option">
                <img class="icon" src="static/Assets/deauth_icon.svg" alt="" />
                Deauthentication Attack
            </a>
        </div>
        <footer>
            <p>
                ⚠️ This tool is intended for educational and authorized security
                testing only. Unauthorized use against networks you don't own or
                have explicit permission to test is illegal and unethical.
            </p>
        </footer>
    </body>
</html>
